<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        quidem, optio ut architecto soluta fuga et temporibus. Iste impedit
        delectus, ut vero, perferendis eligendi doloremque quasi ex magni
        perspiciatis id! Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Sint quos doloribus nulla dolores voluptatibus sapiente! Eveniet
        rerum, quis ex illo molestias sunt, vel, aliquid illum iure dolores
        molestiae porro quia! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Perferendis delectus recusandae eaque laborum, illum deleniti id
        in similique quas itaque ullam temporibus! Ullam, quaerat rem placeat
        veritatis perferendis architecto assumenda.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        quidem, optio ut architecto soluta fuga et temporibus. Iste impedit
        delectus, ut vero, perferendis eligendi doloremque quasi ex magni
        perspiciatis id! Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Sint quos doloribus nulla dolores voluptatibus sapiente! Eveniet
        rerum, quis ex illo molestias sunt, vel, aliquid illum iure dolores
        molestiae porro quia! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Perferendis delectus recusandae eaque laborum, illum deleniti id
        in similique quas itaque ullam temporibus! Ullam, quaerat rem placeat
        veritatis perferendis architecto assumenda.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        quidem, optio ut architecto soluta fuga et temporibus. Iste impedit
        delectus, ut vero, perferendis eligendi doloremque quasi ex magni
        perspiciatis id! Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Sint quos doloribus nulla dolores voluptatibus sapiente! Eveniet
        rerum, quis ex illo molestias sunt, vel, aliquid illum iure dolores
        molestiae porro quia! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Perferendis delectus recusandae eaque laborum, illum deleniti id
        in similique quas itaque ullam temporibus! Ullam, quaerat rem placeat
        veritatis perferendis architecto assumenda.
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
