<!-- <div class="card shadow-effect" *ngIf="postData">
  <img src="{{ postData.postImgPath }}" alt="post-img" class="card-img-top" />
  <div class="card-body">
    <small class="bg-light text-danger text-center">
      {{ postData.category.category }}</small
    >
    <small class="bg-light text-success text-center ml-3"> Featured</small>
    <small class="bg-light text-info text-center ml-3">
      Views - {{ postData.views }}</small
    >
    <h5 class="mt-1">{{ postData.title }}</h5>
    <p>
      {{ postData.excerpt }}
    </p>
    <small class="bg-light text-warning text-center ml-3">
      LAST UPDATED - {{ postData.createdAt.toMillis() | date }}</small
    >
  </div>
</div> -->
<div
  class="card shadow-effect"
  *ngIf="postData"
  [routerLink]="['/post', postData.id]"
>
  <img
    src="{{ postData.data.postImgPath }}"
    alt="post-img"
    class="card-img-top"
  />
  <div class="card-body d-flex flex-column">
    <div class="row">
      <div class="col-4">
        <small class="bg-light text-danger text-center">
          {{ postData.data.category.category }}
        </small>
      </div>
      <div class="col-4">
        <small
          class="bg-light text-success text-center ml-3"
          *ngIf="postData.data.isFeatured"
        >
          Featured</small
        >
      </div>
      <div class="col-4">
        <small class="bg-light text-info text-center ml-3">
          Views - {{ postData.data.views }}
        </small>
      </div>
    </div>
    <h5 class="mt-1">{{ postData.data.title }}</h5>
    <p>
      {{ postData.data.excerpt }}
    </p>
    <div class="mt-auto ml-3">
      <small class="bg-light text-warning text-center">
        LAST UPDATED - {{ postData.data.createdAt.toMillis() | date }}
      </small>
    </div>
  </div>
</div>
